Topic :List Exercise

In [2]:
# Q1
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Random list:", random_numbers)

Random list: [72, 43, 44, 66, 76]

In [3]:
# Q2
random_numbers.extend([101, 102, 103])
print("Updated list:", random_numbers)

Updated list: [72, 43, 44, 66, 76, 101, 102, 103]

In [4]:
for num in random_numbers:
    print(num)

72
43
44
66
76
101
102
103

# Topic: Dictionary Exercise

In [5]:
# Q1
person = {"name": "John", "age": 25, "address": "New York"}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [6]:
# Q2
person["phone"] = "1234567890"
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

# Topic: Set Exercise

In [7]:
# Q1
number_set = {1, 2, 3, 4, 5}
print("Set:", number_set)

Set: {1, 2, 3, 4, 5}

In [8]:
# Q2
number_set.add(6)
print("Updated Set:", number_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [9]:
# Q3
number_set.discard(3)
print("Set after removal:", number_set)

Set after removal: {1, 2, 4, 5, 6}

# Topic: Tuple Exercise

In [10]:
# Q1
tuple_values = (1, 2, 3, 4)
print("Tuple:", tuple_values)

Tuple: (1, 2, 3, 4)

In [11]:
# Q2
print("Length of Tuple:", len(tuple_values))

Length of Tuple: 4